#Ignore all
*.pyc
*.csv
*.pdf
*.zip
*.xml
*.png
*/*.csv~
*.csv~
*.csv#
*.iml
*.ods
*.pickle
*.picklea*
Cause-effect/ext
Data_analysis/
Cause-effect/lib_lopez_paz/data
Cause-effect/lib_lopez_paz/*.csv
Cause-effect/lib_lopez_paz/*.p
Cause-effect/lib_lopez_paz/pickles
Cause-effect/lib_fonollosa/data
Cause-effect/lib_fonollosa/*.csv
Cause-effect/lib_fonollosa/*.p
Cause-effect/lib_fonollosa/pickles
*.p
Cause-effect/lib_lopez_paz/*.p
Cause-effect/datacauseeffect/
Cause-effect/lib_otherdatasets
Cause-effect/lib/mdlp
Cause-effect/lib/mdlp/*
*.tsv
Cause-effect/Dream5ChallengeData/
*.ps
*.xlsx
*.jpg
*.aux
*.bbl
*.bcf
*.lof
*.blg
*.lot
*.log
*.out
*.ptc
*.gz
*.toc
*.ist
*.lst
*.pkl

#Except python files
!.gitignore
!*/*.py
!*.py
!main.pdf
*/output
*/input
Data_analysis
